<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    body {
      background-color: powderblue;
    }
    h1 {
      color: blue;
      font-family: verdana;
      font-size: 250%;
      text-align: center;
    }
    h2 {
      color: green;
      font-family: verdana;
      font-size: 100%;
      text-align: center;
    }
    p {
      color: purple;
      font-family: courier;
      font-size: 150%;
      border: 2px solid powderblue;
      padding: 2px;
      text-align: center;
    }
  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ROCK, PAPER, SCISSORS</title>
</head>
<body>
  <h1> <img src="https://miro.medium.com/v2/resize:fit:1400/1*igZtvbX9RDbSFHeTRElAdw.gif" height="120" width="280">  </h1>
  <% @result.each do |result| %>
    <h2> Player's Choice: </p>
    <p><%= result[:player_choice] %></p>
    <h2> Computer's Choice: </p>
    <p><%= result[:computer_choice] %></p>
    <h2> Result: </h2>
      <p><%= result[:outcome] %></p>
  <% end %>
</body>
</html>